body {
  background: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh; 
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the opacity as needed */
  z-index: -1; /* Ensure the overlay is behind the content */
}

form div, div.form {
  padding-top: 1em;
  padding-bottom: 1em;
}

div.form {
  width: 100%;
}

form {
  width: 50vw;
  margin: auto;
  text-align: center;
  padding-bottom: 3em;
}

label {
  font-weight: bold;
}

.table-container {
  width: 100%;
}

.table {
  width: 50vw;
  margin: auto;
  text-align: center;
}

#splitter {
  text-align: center;
  padding-top: 3em;
}
